*
  box-sizing: border-box
a
  text-decoration: none
  color: inherit
  cursor: pointer
  outline: none
button
  outline: none

body
  font-family: 'Lato', sans-serif

=title-fonts
  font-family: 'Roboto Slab', serif

=grid-common-title
  font-weight: 700
  font-size: 16px
  line-height: 25px
