.grid
  padding: 0 0 60px
  background-color: $light-bgcolor
  &-title
    display: none
  &-container
    display: grid
    grid-gap: 30px
    grid-template: repeat(4, min-content) / repeat(4, 1fr)
    grid-template-areas: "article article popular download" "article article popular tags" "tools lucky customer tags" "tools stress free socials"
    &__item
      background-color: $light-text-color
      font-weight: normal
      font-size: 14px
      line-height: 20px
      color: $right-bgcolor
      border-radius: 10px
      overflow: hidden
  &-socials
    &-pic
      width: 50px
      height: 50px
      object-fit: cover
      border-radius: 50%
      overflow: hidden
      &_twitter
        margin: 0 20px
.roboto
  &-title
    font-family: Roboto Slab
    font-style: normal
    font-weight: bold
    font-size: 25px
    line-height: 30px
    color: $dark-bgcolor
.article
  grid-area: article
  padding: 15px 0 13px 35px
  position: relative
  &::after
    content: ''
    position: absolute
    width: 100%
    height: 1px
    bottom: 15%
    left: 0
    margin: 0
    background-color: $grid-divider
  &-author
    &-pic
      width: 30px
      height: 30px
      object-fit: cover
      border-radius: 50%
      overflow: hidden
      margin-right: 10px
    &-text
      margin-right: 22px
    &-name
      margin: 0
      font-weight: 550
      color: $dark-bgcolor
    &-extra
      font-weight: normal
      color: $right-bgcolor
.popular
  grid-area: popular
  position: relative
  &::after
    content: ''
    position: absolute
    z-index: 2
    top: 0
    right: 0
    left: 0
    bottom: 0
    background: linear-gradient(0deg, rgba(64, 48, 61, 0.35), rgba(64, 48, 61, 0.35))
  &-title
    color: $grid-web
    margin-bottom: 25px
  &-theme
    margin: 0 0 29px
    font-weight: bold
    font-size: 16px !important
    line-height: 25px !important
    letter-spacing: 0.5px
    text-transform: uppercase
    color: $light-text-color !important
  &-direction
    font-weight: normal
    font-size: 12px
    line-height: 15px
    color: $light-text-color
    background-color: $css-another-color
    padding: 6px 12px
    border-radius: 3px
    overflow: hidden
  &-pic
    width: 267px
    height: 100%
    object-fit: cover
  &-container
    padding: 19px 26px 25px 25px
    position: absolute
    top: 0
    left: 0
    z-index: 10
  &-info
    display: flex
    flex-direction: column
    align-items: flex-start
    margin-top: 118px
  &-author
    &-container
      display: flex
      align-items: center
    &-info
      display: flex
      flex-direction: column
      align-items: flex-start
    &-pic
      width: 45px
      height: 45px
      object-fit: cover
      border-radius: 50%
      overflow: hidden
      margin-right: 10px
    &-extra
      display: flex
      align-items: center
      font-style: normal
      font-weight: normal
      font-size: 12px
      line-height: 15px
      color: $light-text-color
      opacity: 0.4
    &-name
      color: $light-text-color
      opacity: 0.85
    &-date
      color: $light-text-color !important
      opacity: 0.4
.download
  grid-area: download
  background-color: $css-color !important
  padding: 25px 25px 13px
  position: relative
  &::after
    content: ''
    position: absolute
    width: 100%
    height: 1px
    bottom: 27%
    left: 0
    margin: 0
    background-color: $download-divider
  &-title
    display: block
    margin: 0 0 10px
    position: relative
    z-index: 5
    color: $light-text-color
    +grid-common-title
    &::after
      content: ''
      position: absolute
      width: 80px
      height: 80px
      top: -12%
      left: 70%
      z-index: -1
      background: url("../img/grid-download-pic.png") no-repeat
  &-info
    color: $download-text
  &-sub
    margin: 32px 0 0
    display: flex
    align-items: center
    justify-content: center
  &-pic
    width: 20px
    height: 20px
    object-fit: cover
    margin-right: 10px
  &-link
    font-weight: 550
    font-size: 14px
    line-height: 20px
    color: $light-text-color
.tags
  grid-area: tags
  display: flex
  flex-direction: column
  padding: 20px 18px 10px 25px
  position: relative
  &::before
    content: ''
    position: absolute
    width: 100%
    height: 1px
    top: 16%
    left: 0
    margin: 0
    background-color: $grid-divider
  &-title
    letter-spacing: 0.5px
    text-transform: uppercase
    font-weight: 600
    font-size: 14px
  &-top
    margin: 0 0 46px
  &-sub
    display: flex
    flex-flow: row wrap
  &-link
    font-weight: 900
    padding: 5px 15px
    border: 1px solid $grid-divider
    border-radius: 5px
    margin: 0 8px 12px 0
.tools
  grid-area: tools
  &-pic
    width: 263px
    height: 275px
    object-fit: cover
  &-container
    width: 84%
    padding: 10px 25px 30px
  &-title
    max-width: 210px
    margin: 0 0 10px
    position: relative
    +grid-common-title
.lucky
  grid-area: lucky
  padding: 32px 25px 16px
  &-title
    display: block
    margin: -5px 0 5px
    +grid-common-title
.stress
  grid-area: stress
  padding: 32px 25px 16px
  &-title
    display: block
    margin: -5px 0 5px
    +grid-common-title
.customer
  grid-area: customer
  padding: 32px 25px 16px
  &-title
    display: block
    margin: -5px 0 5px
    +grid-common-title
  .card
    &-text
      margin: 0 0 25px !important
.free
  grid-area: free
  padding: 32px 25px 16px
  &-title
    display: block
    margin: -5px 0 5px
    +grid-common-title
.socials
  grid-area: socials
  padding: 22px 25px 30px
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  &-title
    margin: 0 0 25px
    font-size: 20px
    line-height: 25px
  &-container
    display: flex
    align-items: center
.info
  &-direction
    color: $js-color
    font-weight: 550
    margin: 0 0 20px
  &-title
    margin: 0 0 25px
.top
  display: flex
  align-items: flex-start
  margin-bottom: 16px
  &-info
    display: flex
    flex-direction: column
    align-items: flex-start
    max-width: 238px
    margin-top: 20px
  &-pic
    width: 292px
    height: 299px
    object-fit: cover
.sub
  display: flex
  align-items: center
  margin-top: -5px
.comments
  &-dark
    display: flex
    align-items: center
    &_pic
      width: 15px
      height: 15px
      object-fit: cover
      overflow: hidden
      margin-right: 5px
    &_amount
      font-style: normal
      font-weight: normal
      font-size: 12px
      line-height: 15px
      color: $comments-color
  &-light
    display: flex
    align-items: center
    margin-left: 7px
    &_pic
      margin-right: 5px
  &-hide
    &_pic
      display: none
.likes
  &-light
    display: flex
    align-items: center
    margin-left: 7px
    &_pic
      margin-right: 5px
.card
  &-text
    margin: 0 0 7px
  &-date
    font-size: 12px
    line-height: 15px
    color: $comments-color
